@inject Microsoft.AspNetCore.SpaServices.Prerendering.ISpaPrerenderer prerenderer
@using Newtonsoft.Json
@model RCB.TypeScript.Models.NodeSession
@{
    Layout = null;

    var prerenderResult = await prerenderer.RenderToString("ClientApp/dist/main-server", customDataParameter: Model);
    var publicSessionJson = prerenderResult?.Globals?["nodeSession"]["public"]?.ToString();
    var initialReduxStateJson = prerenderResult?.Globals?["initialReduxState"]?.ToString();
    var completedTasksJson = prerenderResult?.Globals?["completedTasks"]?.ToString();
    var helmetStringsPrerender = prerenderResult?.Globals?["helmetStrings"]?.ToString();
}

<html>
<head>
    <meta charset="utf-8" />
    @Html.Raw(helmetStringsPrerender)
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146487540-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-146487540-1');
    </script>

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <!-- <link href="https://simonwep.github.io/pickr/dist/themes/nano.min.css" rel="stylesheet"> -->

    @if (!AppSettings.Default.IsDevelopment)
    {
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    }
    
    <script>
        window.publicSession = @Html.Raw(string.IsNullOrEmpty(publicSessionJson) ? "null" : publicSessionJson);    
        window.initialReduxState = @Html.Raw(initialReduxStateJson);
        window.completedTasks = @Html.Raw(completedTasksJson);
    </script>

    <style type="text/css">
        
    </style>
</head>
<body>

<div id="preloader">
    <!-- <div style="width:200px; height: 200px; margin-left: 6px;margin: auto;top:0;bottom:0;left:0;right:0;position:absolute;">
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="45"/>
        </svg>
    </div> -->
</div>

@* Save the request token in a div. CORS needs to make sure this token can't be read by javascript from other sources than ours *@
<div id="xsrf-token" data-xsrf-token="@ViewBag.AntiForgeryRequestToken"></div>
<div id="access-token" data-access-token="@ViewBag.accessToken"></div><div id="react-app">@Html.Raw(prerenderResult?.Html)</div>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
<script src="~/dist/main-client.js" asp-append-version="true"></script>

</body>
</html>